################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
*.user
/Sample/Debug
/packages/Microsoft.DXSDK.D3DX.9.29.952.8
/storehouselib/Debug
/Sample/Release/Sample.tlog
/Sample/Release
/storehouselib/Release
/Debug/simple.cso
/Debug/Sample.pdb
/Debug/Sample.exe
/Debug/d3dx9d_43.dll
/Debug/d3dx11d_43.dll
/Debug/d3dx10d_43.dll
/Debug/D3DCompiler_43.dll
/Release/simple.cso
/Release/Sample.exe
/Release/d3dx9_43.dll
/Release/d3dx11_43.dll
/Release/d3dx10_43.dll
/Release/D3DCompiler_43.dll
/Sample/x64/Release
/Sample/x64/Debug
/storehouselib/x64/Release
/storehouselib/x64/Debug
/x64/Debug/simple.cso
/x64/Debug/Sample.pdb
/x64/Debug/Sample.exe
/x64/Debug/d3dx9d_43.dll
/x64/Debug/d3dx11d_43.dll
/x64/Debug/d3dx10d_43.dll
/x64/Debug/D3DCompiler_43.dll
/x64/Release/simple.cso
/x64/Release/Sample.pdb
/x64/Release/Sample.exe
/x64/Release/d3dx9_43.dll
/x64/Release/d3dx11_43.dll
/x64/Release/d3dx10_43.dll
/x64/Release/D3DCompiler_43.dll
/Sample/x64/Debug_VisualStudio2019
/storehouselib/x64/Debug_VisualStudio2019
/x64/Debug_VisualStudio2019/simple.cso
/x64/Debug_VisualStudio2019/Sample.pdb
/x64/Debug_VisualStudio2019/Sample.exe
/x64/Debug_VisualStudio2019/d3dx9_43.dll
/x64/Debug_VisualStudio2019/d3dx11_43.dll
/x64/Debug_VisualStudio2019/d3dx10_43.dll
/x64/Debug_VisualStudio2019/D3DCompiler_43.dll
